<configuration>

    <!-- Define an appender for console output -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <!-- Set the root logger level to DEBUG to see detailed logs-->
    <root level="INFO">
        <appender-ref ref="console" />
    </root>

</configuration>